body
{
    
    background-image:url("cherryb.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#btn {
    padding: 10;
    height: 20;
    width: 20;
}

.btn {
    display: flex;
    flex-direction: row;
    width: auto;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h1 {
    font-size: 15px;
    color: dimgrey;
    font-family: Helvetica;
}

#page
{
    display: flex;
    flex-direction: column;
    background-size: auto;
}
.header
{
	position:absolute;
	top:0px;
    right: 0px;
    height: 50px;
	width:100%;
	background-color:white;
    box-shadow: 1px 9px 5px -8px rgba(0,0,0,1);
}
.full_container
{
    display: flex;
    
}
    
.mydata
{	
	display:flex;
	flex-direction:column;
    padding:30px;
    padding-top: 75px;
}
.name_container
{
	height: 100px;
	width:300px;
	background:linear-gradient(to bottom, skyblue 50%, white 50%);
	font-family:helvetica;
	text-align:center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    
    
}
.uname
{
    color:cornflowerblue;
}
#info_container
{	
    margin-top:20px;
	display:flex;
    flex-direction: column;
    height: 500px;
	width:300px;
    border-radius: 5px;
    padding:1em;
    background-color: white;
	
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
}


.listinfo 
{
	
	flex-direction:column;
	list-style-type: none;
	text-align:left;
	font-size:15;
	width:20:%;
	

}
.listinfo div
{
     color:darkslateblue;
    font-family: helvetica;
	text-align:left;
}
.add_container
{
	
	flex-direction:column;
	text-align:left;
	font-size:15;
    font-family: helvetica;
	width:20:%;
    color:darkslateblue;
  
}

.add_container div
{
	padding:10px;
    color:darkslateblue;
    font-family: helvetica;
	text-align:left;
    
}
.company_info
{
	
	flex-direction:column;
	list-style-type: none;
	text-align:left;
	font-size:15;
	width:20:%;
    color:darkslateblue;
    font-family: helvetica;
	padding-top: 10px;

}
.company_info div
{
    color:indigo;
    font-family: helvetica;
	text-align:left;
    padding-left: 10px;
}



#map
{
    width:20:%;
	height:25%;
    
    
}

#psection
{
	display:flex;	
	flex-direction:column;
	width:50%;
	height:1500px;
    padding:30px;
    padding-top: 60px;
    
    
}

#post_container
{
	
	font-family:helvetica;
    background-color: ;
    display: flex;
    height:100%;
    flex-direction: column;
    border-radius: 5px;
}
#post_box
{
    display: flex;
    flex-direction: column;

}
.post 
{
    margin:1em;
	padding:20px;
    height:10%;
    box-shadow: 2px 8px 18px -3px rgba(0,0,0,0.22);
    background:linear-gradient(to bottom, aliceblue 20%, white 80%);
    border-radius: 5px;
    display:block;
      
	
}


.title p
{
    
    color: midnightblue;
    text-transform:uppercase;
    font-family:sans-serif;
    font-weight:bolder;
    
}
.msg p
{

    padding-left: 20px;
    font-size:15;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space:nowrap;
    width:150px;
    
}
.msg p:hover { 
    padding-left: 20px;
    font-size:15;
    text-overflow:none; 
    overflow:none; 
    white-space:inherit;
    width:auto;
    text-align: justify;
    cursor: pointer;
}


.more
{
    
    padding:20px;
    margin-left: 1em;
    margin-right: 1em;
    height:2%;
    text-align: center;
    color: cornflowerblue;
    box-shadow: 2px 8px 18px -3px rgba(0,0,0,0.22);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    
    
}
#asection
{
	display:flex;	
	flex-direction:column;
	width:50%;
	height:150%;
    padding:30px;
    padding-top: 75px;
    margin-top: 75px;
    margin-right: 40px;
    border-radius: 10px;
    background-color: white;
    
   
}
#album_box
{
    font-family:helvetica;
    display: flex;
    height:150%;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    margin-top: -5em;
        
    
}
.album
{
    margin:2.5em;
    margin-top: 3em;
    margin-left: 5em;
    width:100px;
    height:100px;
   
   
   
}
.title_album p
{	
     
    padding-left: 10px;
    margin-top: 1em;
	font-size: 13;
    font-family: sans-serif; 
    font-weight: bolder;
    margin-top: 1em;
    width: inherit;
    height: 50%;
    color:darkblue;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    
    

    
}
.photo
{
   margin-top: -1em;
    width:120%;
    height:120%;
   box-shadow: 0px 3px 27px -1px rgba(62,129,230,1);
   
}
.more_album
{

    color: cornflowerblue;
    padding:20px;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 1em;
    font-family: courier;
    width:80%;
    height:20px;
    align-self: center;
    text-align: center;
    box-shadow: -2px 1px 127px -20px rgba(0,0,0,0.75);
    border-radius: 5px;
    cursor: pointer;  
}
p span
{
    
    color: blue;
}
a
{
    text-decoration: none;
}

